.article-item-title {
    font-weight: 500;
    padding: 10px 10px 20px 10px;
    border-bottom: 1px solid rgba(160, 160, 160, .2);
}

.card-content {
    position: relative;
    width: 100%;
}

.article-item-abstract {
    margin-top: -20px;
}

.article-item-info {
    font-size: 80%;
    font-style: italic;
}

.article-item-title,
.activator,
.close {
    cursor: pointer;
}

.card-reveal .card-title {
    font-size: 100%;
    font-weight: 500;
}

.card-action-text {
    max-width: calc(100% - 30px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}