<div class="card small">
    <div class="card-content">
        <a [routerLink]="[item.id]"><span class="">{{item.title}}</span></a>
        <p> {{ item.abstract[0].abstract_text | truncate : 250 }} </p>
    </div>
    <div class="card-action">
        <a class="btn-play-no-image"><i class="material-icons">play_arrow</i></a>
        <a [routerLink]="['.']" fragment="">This is a link</a>
        <a [routerLink]="['.']" fragment="" class="waves-effect waves-light btn">button</a>

        <a class="dropdown-button right" [routerLink]="['.']" fragment="" data-activates="article-actions"><i class="material-icons">more_horiz</i></a>

        <!-- Dropdown Structure -->
        <ul id="article-actions" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
        </ul>
    </div>
</div>