<div class="card medium">
    <div>
        <div class="article-item-title block-ellipsis-3 grey-text text-darken-4 grey lighten-2">{{item.title}}</div>
        <a class="btn-play-medium"><i class="material-icons">play_arrow</i></a>
    </div>
    <div class="card-content">
        <div class="article-item-abstract block-ellipsis-7 blue-grey-text text-darken-3">
            {{ item.abstract | stringify }}
        </div>
    </div>
    <div class="card-action">
        <span class="article-item-info blue-grey-text text-lighten-3">
            {{item.month}}, {{item.year}}
        </span>
        <span class="blue-grey-text text-lighten-3"> | </span>
        <span class="article-item-info blue-grey-text text-lighten-3">
            {{item.journal}}
        </span>
        <i class="material-icons right activator">more_vert</i>
    </div>
    <div class="card-reveal">
        <div class="card-title"><i class="material-icons right close">close</i>
            <div class="grey-text text-darken-4">{{item.title}}</div>
        </div>

        <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
</div>