<div class="card z-depth-3">
    <div class="card-image">
        <img src="assets/images/sample-1.jpg">
    </div>
    <div class="card-content">
        <span class="card-title"><a [routerLink]="['/lecture/1']">Card title</a></span>
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
        <a [routerLink]="['.']" fragment="">This is a link</a>
        <a [routerLink]="['.']" fragment="" class="waves-effect waves-light btn">button</a>

        <a class="dropdown-button right" [routerLink]="['.']" fragment="" data-activates="lecture-actions"><i class="material-icons">more_horiz</i></a>

        <!-- Dropdown Structure -->
        <ul id="lecture-actions" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
        </ul>
    </div>
</div>