<nav class="header navbar navbar-full navbar-fixed-top navbar-dark bg-inverse">

    <a class="navbar-brand navbar-toggler" (click)="_toggleSidebar()"></a>

    <a class="navbar-brand" [routerLink]="['']">AHC Video Library</a>

    <form class="form-inline float-lg-right">

        <!--   <input class="form-control" type="text" placeholder="Search">  -->

        <button class="btn btn-outline-secondary" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
</nav>
