// Custom Materialize Variables
@import "materialize_variables";
// Materialize
@import "materialize/materialize.scss";
body {
    background-color: color("grey", "lighten-3");
}

.card {
    //margin: 0;
}

.btn-play {
    @extend .btn-floating;
    @extend .btn-large;
    @extend .waves-effect;
    @extend .waves-light;
    @extend .right;
    background-color: $secondary-color;
    margin-top: -($button-floating-large-size/2);
    margin-right: $card-padding;
}

.btn-play-medium {
    @extend .btn-floating;
    @extend .btn;
    @extend .waves-effect;
    @extend .waves-light;
    @extend .right;
    background-color: $secondary-color;
    margin-top: -($button-floating-size/2);
    margin-right: $card-padding;
}

.card-title-overlay {
    background: rgba(0, 0, 0, .5);
    display: block;
}

.single-line-ellipsis {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-ellipsis-3 {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 5.5rem;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-ellipsis-7 {
    @extend .block-ellipsis-3;
    height: 10.5rem;
    -webkit-line-clamp: 7;
}

.block-ellipsis-9 {
    @extend .block-ellipsis-3;
    height: 13.5rem;
    -webkit-line-clamp: 9;
}