// Custom Materialize Variables
@import "materialize_variables";
// Materialize
@import "materialize/materialize.scss";
body {
    background-color: color("grey", "lighten-3");
}

.card {
    //margin: 0;
}

.btn-play {
    @extend .btn-floating;
    @extend .btn-large;
    @extend .waves-effect;
    @extend .waves-light;
    @extend .right;
    background-color: $secondary-color;
    margin-top: -($button-floating-large-size/2);
    margin-right: $card-padding;
}

.btn-play-no-image {
    @extend .btn-floating;
    @extend .btn;
    @extend .waves-effect;
    @extend .waves-light;
    @extend .right;
    background-color: $secondary-color;
    margin-top: -($button-floating-size);
    margin-right: $card-padding;
}

.card-title-overlay {
    background: rgba(0, 0, 0, .5);
    display: block;
}