<div class="container content">

    My regular content. This will be moved into the proper DOM at runtime.
    <button md-button (click)="start.open()">Open start sidenav</button>

    <md-tab-group>
        <md-tab label="Lectures" id="lecture-list">
            <app-lecture-list></app-lecture-list>
        </md-tab>

        <md-tab label="Series">
            <h1>Some more tab content</h1>
            <p>...</p>
        </md-tab>

        <md-tab label="Presenters">
            <h1>Some more tab content</h1>
            <p>...</p>
        </md-tab>

    </md-tab-group>



</div>
