.header {
    z-index: 999999999;
    height: 60px;
}

.navbar-toggler {
    cursor: pointer;
}

.sidenav ul,
.sidenav li {
    list-style-type: none;
    display: block;
    width: 200px;
    margin: 0;
    padding: 0;
}

.sidenav li a {
    color: whitesmoke;
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px;
}

.sidenav i {
    margin-right: 10px;
}

.sidenav {
    margin-top: 60px;
}

.footer {
    color: whitesmoke;
    text-align: center;
}

.content {
    min-height: calc(100vh - 120px);
    margin-bottom: 0;
}

.footer {
    height: 50px;
}
