<ul>
    <li>
        <div class="userView">
            <div class="background">
                <img src="assets/images/menu-background.jpg">
            </div>
            <a href="#!user"><img class="circle" src="assets/images/avatar.jpg"></a>
            <a href="#!name"><span class="white-text name">Hatem Hosny</span></a>
            <a href="#!email"><span class="white-text email">hatemhosny@gmail.com</span></a>
        </div>
    </li>

    <!--<li><div class="divider"></div></li>-->
    <li>
        <a class="waves-effect" [routerLink]="['']">
            <i class="material-icons">home</i>Home</a>
    </li>
    <li>
        <a class="waves-effect" [routerLink]="['articles']">
            <span class="new badge">40</span><i class="material-icons">video_library</i>Articles</a>
    </li>
    <li>
        <a class="waves-effect" [routerLink]="['lectures']">
            <i class="material-icons">video_library</i>Journals</a>
    </li>
    <li>
        <a class="waves-effect" [routerLink]="['lectures']">
            <span class="new badge">4</span><i class="material-icons">video_library</i>Lectures</a>
    </li>
    <li>
        <a class="waves-effect" [routerLink]="['presenters']">
            <i class="material-icons">group</i>Presenters</a>
    </li>
    <li>
        <a class="waves-effect" [routerLink]="['series']">
            <i class="material-icons">label</i>Series</a>
    </li>
    <li>
        <a class="waves-effect" [routerLink]="['history']">
            <i class="material-icons">history</i>History</a>
    </li>
    <li>
        <a class="waves-effect" [routerLink]="['bookmarks']">
            <i class="material-icons">bookmark</i>Bookmarks</a>
    </li>
    <li>
        <a class="waves-effect" [routerLink]="['search']">
            <i class="material-icons">search</i>Search</a>
    </li>
    <li>
        <a class="waves-effect" [routerLink]="['account']">
            <i class="material-icons">person</i>Account</a>
    </li>
    <li>
        <a class="waves-effect" [routerLink]="['about']">
            <i class="material-icons">info</i>About</a>
    </li>

</ul>