<div class="sidenav">
    <ul>
        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i> Lectures</a></li>
        <li><a href="#"><i class="fa fa-history" aria-hidden="true"></i> History</a></li>
        <li><a href="#"><i class="fa fa-bookmark" aria-hidden="true"></i> Bookmarks</a></li>
        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i> Search</a></li>
        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Account</a></li>
    </ul>

</div>
