<ng2-sidebar [(open)]="_open" [closeOnClickOutside]="true" [defaultStyles]="true" [autoFocus]="false" sidebarClass="navbar navbar-full navbar-dark bg-inverse">

    <div class="sidenav">
        <ul>
            <li>
                <a [routerLink]="['']" (click)="toggleSidebar()">
                    <i class="fa fa-home" aria-hidden="true"></i>Home
                </a>
            </li>
            <li>
                <a [routerLink]="['lectures']" (click)="toggleSidebar()">
                    <i class="fa fa-video-camera" aria-hidden="true"></i>Lectures</a>
            </li>
            <li>
                <a [routerLink]="['presenters']" (click)="toggleSidebar()">
                    <i class="fa fa-group" aria-hidden="true"></i>Presenters</a>
            </li>
            <li>
                <a [routerLink]="['series']" (click)="toggleSidebar()">
                    <i class="fa fa-tags" aria-hidden="true"></i>Series</a>
            </li>
            <li>
                <a [routerLink]="['history']" (click)="toggleSidebar()">
                    <i class="fa fa-history" aria-hidden="true"></i>History</a>
            </li>
            <li>
                <a [routerLink]="['bookmarks']" (click)="toggleSidebar()">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>Bookmarks</a>
            </li>
            <li>
                <a [routerLink]="['search']" (click)="toggleSidebar()">
                    <i class="fa fa-search" aria-hidden="true"></i>Search</a>
            </li>
            <li>
                <a [routerLink]="['account']" (click)="toggleSidebar()">
                    <i class="fa fa-user" aria-hidden="true"></i>Account</a>
            </li>
            <li>
                <a [routerLink]="['about']" (click)="toggleSidebar()">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>About</a>
            </li>
        </ul>

    </div>

</ng2-sidebar>
