/* You can add global styles to this file, and also import other style files */

@import "styles/materialize/materialize.scss";
.card {
    //margin: 0;
}

.btn-play {
    @extend .btn-floating;
    @extend .btn-large;
    @extend .waves-effect;
    @extend .waves-light;
    @extend .right;
    background-color: $secondary-color;
    margin-top: -($button-floating-large-size/2);
    margin-right: $card-padding;
}

.card-title-overlay {
    background: rgba(0, 0, 0, .5);
}