<div class="container">
    <div id="article-list" class="row" style="position:relative; margin-top: 30px;">
        <div class="col s12 l6" *ngFor="let item of items | paginate: { id: 'article-pagination',
                                                                        itemsPerPage: itemsPerPage,
                                                                        currentPage: currentPage,
                                                                        totalItems: totalItems }">
            <app-article-item [item]="item"></app-article-item>
        </div>
    </div>
    <app-pagination [id]="'article-pagination'" [(pageQuery)]="pageQuery" (pageChanged)="loadArticles($event)"></app-pagination>
</div>