#loading-indicator {
    position: relative;
    left: calc(50% - 25px);
    width: 50px;
    height: 10px;
    margin-bottom: 35px;
}

#loading-indicator span {
    display: block;
    bottom: 0px;
    width: 9px;
    height: 5px;
    background: #9b59b6;
    position: absolute;
    animation: loading-indicator 1.5s infinite ease-in-out;
}

#loading-indicator span:nth-child(2) {
    left: 11px;
    animation-delay: .2s;
}

#loading-indicator span:nth-child(3) {
    left: 22px;
    animation-delay: .4s;
}

#loading-indicator span:nth-child(4) {
    left: 33px;
    animation-delay: .6s;
}

#loading-indicator span:nth-child(5) {
    left: 44px;
    animation-delay: .8s;
}

@keyframes loading-indicator {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    25% {
        height: 30px;
        transform: translateY(15px);
        background: #3498db;
    }
    50% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    100% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
}